In [21]:
import pandas as pd
from QQUnivariate import QQUnivariate
import numpy as np
from sklearn.impute import SimpleImputer

# Kidney CKD data  from Kaggle
# Replacing the  Null values in  Qualitative  & Qunatative Data

In [22]:
dataset=pd.read_csv("kidneydisease.csv")

In [24]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [25]:
dataset.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

# Identifying the  Qualitative and Quantitative Columns

In [26]:
Quan,Qual=QQUnivariate.quanQual(dataset)

In [27]:
Quan

['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo']

In [28]:
Qual

['rbc',
 'pc',
 'pcc',
 'ba',
 'pcv',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [30]:
dataset.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

# Replacing the Quantitative Null value Columns  with Mean value

In [38]:
imp= SimpleImputer(missing_values=np.nan,strategy='mean')
imp.fit(dataset[Quan])
df1=(imp.transform(dataset[Quan]))
print(imp.transform(dataset[Quan]))

[[  0.          48.          80.         ... 137.52875399   4.62724359
   15.4       ]
 [  1.           7.          50.         ... 137.52875399   4.62724359
   11.3       ]
 [  2.          62.          80.         ... 137.52875399   4.62724359
    9.6       ]
 ...
 [397.          12.          80.         ... 137.           4.4
   15.8       ]
 [398.          17.          60.         ... 135.           4.9
   14.2       ]
 [399.          58.          80.         ... 141.           3.5
   15.8       ]]

In [39]:
df_Quan =pd.DataFrame(df1,columns= Quan)

In [40]:
df_Quan

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
0,0.0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,4.627244,15.4
1,1.0,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,4.627244,11.3
2,2.0,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,4.627244,9.6
3,3.0,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,2.500000,11.2
4,4.0,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,4.627244,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,4.900000,15.7
396,396.0,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,3.500000,16.5
397,397.0,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,4.400000,15.8
398,398.0,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,4.900000,14.2
399,399.0,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,3.500000,15.8

In [37]:
df_Quan.isnull().sum()

id      0
age     0
bp      0
sg      0
al      0
su      0
bgr     0
bu      0
sc      0
sod     0
pot     0
hemo    0
dtype: int64

# Replacing the Qualitative Null value Columns  with Most Frequent Values

In [41]:
#strategy : The data which will replace the NaN values from the dataset. 
#The strategy argument can take the values – ‘mean'(default), ‘median’, ‘most_frequent’ and ‘constant’.

In [42]:
imp= SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imp.fit(dataset[Qual1])
df2=(imp.transform(dataset[Qual1]))
print(imp.transform(dataset[Qual1]))

[['normal' 'normal' 'notpresent' ... 'no' 'no' 'ckd']
 ['normal' 'normal' 'notpresent' ... 'no' 'no' 'ckd']
 ['normal' 'normal' 'notpresent' ... 'no' 'yes' 'ckd']
 ...
 ['normal' 'normal' 'notpresent' ... 'no' 'no' 'notckd']
 ['normal' 'normal' 'notpresent' ... 'no' 'no' 'notckd']
 ['normal' 'normal' 'notpresent' ... 'no' 'no' 'notckd']]

In [43]:
df_Qual =pd.DataFrame(df2,columns= Qual)

In [45]:
df_Qual

,rbc,pc,pcc,ba,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,normal,normal,notpresent,notpresent,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,normal,normal,notpresent,notpresent,38,6000,5.2,no,no,no,good,no,no,ckd
2,normal,normal,notpresent,notpresent,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,normal,abnormal,present,notpresent,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,normal,normal,notpresent,notpresent,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,normal,normal,notpresent,notpresent,47,6700,4.9,no,no,no,good,no,no,notckd
396,normal,normal,notpresent,notpresent,54,7800,6.2,no,no,no,good,no,no,notckd
397,normal,normal,notpresent,notpresent,49,6600,5.4,no,no,no,good,no,no,notckd
398,normal,normal,notpresent,notpresent,51,7200,5.9,no,no,no,good,no,no,notckd
399,normal,normal,notpresent,notpresent,53,6800,6.1,no,no,no,good,no,no,notckd

In [46]:
df_Qual.isnull().sum()

rbc               0
pc                0
pcc               0
ba                0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

# Merge Quantitative and Qualitative Data Sets

In [47]:
df_Quan_Qual_merge=[df_Quan,df_Qual]

In [48]:
df_Quan_Qual_merge

[        id   age    bp     sg   al   su         bgr    bu   sc         sod  \
 0      0.0  48.0  80.0  1.020  1.0  0.0  121.000000  36.0  1.2  137.528754
 1      1.0   7.0  50.0  1.020  4.0  0.0  148.036517  18.0  0.8  137.528754
 2      2.0  62.0  80.0  1.010  2.0  3.0  423.000000  53.0  1.8  137.528754
 3      3.0  48.0  70.0  1.005  4.0  0.0  117.000000  56.0  3.8  111.000000
 4      4.0  51.0  80.0  1.010  2.0  0.0  106.000000  26.0  1.4  137.528754
 ..     ...   ...   ...    ...  ...  ...         ...   ...  ...         ...
 395  395.0  55.0  80.0  1.020  0.0  0.0  140.000000  49.0  0.5  150.000000
 396  396.0  42.0  70.0  1.025  0.0  0.0   75.000000  31.0  1.2  141.000000
 397  397.0  12.0  80.0  1.020  0.0  0.0  100.000000  26.0  0.6  137.000000
 398  398.0  17.0  60.0  1.025  0.0  0.0  114.000000  50.0  1.0  135.000000
 399  399.0  58.0  80.0  1.025  0.0  0.0  131.000000  18.0  1.1  141.000000

           pot  hemo
 0    4.627244  15.4
 1    4.627244  11.3
 2    4.627244   9.6
 3    2.500000  11.2
 4    4.627244  11.6
 ..        ...   ...
 395  4.900000  15.7
 396  3.500000  16.5
 397  4.400000  15.8
 398  4.900000  14.2
 399  3.500000  15.8

 [400 rows x 12 columns],
         rbc        pc         pcc          ba pcv    wc   rc  htn   dm cad  \
 0    normal    normal  notpresent  notpresent  44  7800  5.2  yes  yes  no
 1    normal    normal  notpresent  notpresent  38  6000  5.2   no   no  no
 2    normal    normal  notpresent  notpresent  31  7500  5.2   no  yes  no
 3    normal  abnormal     present  notpresent  32  6700  3.9  yes   no  no
 4    normal    normal  notpresent  notpresent  35  7300  4.6   no   no  no
 ..      ...       ...         ...         ...  ..   ...  ...  ...  ...  ..
 395  normal    normal  notpresent  notpresent  47  6700  4.9   no   no  no
 396  normal    normal  notpresent  notpresent  54  7800  6.2   no   no  no
 397  normal    normal  notpresent  notpresent  49  6600  5.4   no   no  no
 398  normal    normal  notpresent  notpresent  51  7200  5.9   no   no  no
 399  normal    normal  notpresent  notpresent  53  6800  6.1   no   no  no

     appet   pe  ane classification
 0    good   no   no            ckd
 1    good   no   no            ckd
 2    poor   no  yes            ckd
 3    poor  yes  yes            ckd
 4    good   no   no            ckd
 ..    ...  ...  ...            ...
 395  good   no   no         notckd
 396  good   no   no         notckd
 397  good   no   no         notckd
 398  good   no   no         notckd
 399  good   no   no         notckd

 [400 rows x 14 columns]]

In [49]:
#axis= 1 parameter  merges columns from two source into a single  record
preprocessed=pd.concat(df_Quan_Qual_merge,axis=1)

In [50]:
preprocessed

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0.0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1.0,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,2.0,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,3.0,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4.0,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396.0,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397.0,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398.0,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399.0,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [51]:
preprocessed.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
rbc               0
pc                0
pcc               0
ba                0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

# Create the CSV file

In [53]:
#Index = False parameter prevents  duplicate records or index
preprocessed.to_csv("Prekidneydisease.csv",index=False)

In [54]:
dataset=pd.read_csv("Prekidneydisease.csv")

In [55]:
dataset

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0.0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1.0,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,2.0,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,3.0,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4.0,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396.0,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397.0,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398.0,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399.0,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,...,53,6800,6.1,no,no,no,good,no,no,notckd